# ambiente virtual
.venv/

# cache do Python
__pycache__/

# arquivos e pastas do pyinstaller
build/
dist/
*.spec

# arquivos PDFs
*.pdf

# arquvios PDFs para testes
!pdfs/arq-ruim1.pdf
!pdfs/arq-ruim2.pdf
!pdfs/arq-ruim3.pdf
!pdfs/arq1.pdf
!pdfs/arq2.pdf
!pdfs/arq3.pdf
!pdfs/arq4.pdf

